# Sample .env file for Claralara
# Beispiel .env-Datei für Claralara

# ATTENTION - THIS FILE CONTAINS SENSITIVE INFORMATION
# ACHTUNG - DIESE DATEI ENTHÄLT SENSIBLE INFORMATIONEN

# PLEASE RENAME THIS FILE TO '.env' AND FILL IN THE VALUES
# !!!  DO NOT LEAK THIS FILE WITH REAL DATA IN ANY PUBLIC REPOSITORYS !!!

# BITTE BENENNEN SIE DIESE DATEI IN '.env' UM UND FÜLLEN SIE DIE WERTE AUS
# !!!  LEAKEN SIE DIESE DATEI MIT REALEN DATEN IN KEINEM ÖFFENTLICHEN REPOSITORYS !!!

# DATABASE CONFIGURATION
# DATENBANK KONFIGURATION

# Database Port, e.g. 3306 for MySQL, 5432 for PostgreSQL
DBPORT = 3306

# Database User, e.g. 'discordapp_claralara_useragent' for MySQL
DBUSER = 

# Database Password, e.g. 's€Cr3t?2rf3wqa' for MySQL
DBPASSWD = 

# Dabase Name for Claralara, e.g. 'discordapp_claralara' for MySQL
DB0 = 
# Database Name for Claralara Beta or Testing, e.g. 'discordapp_claralara_beta' for MySQL
DB1 = 

# Database Name for HQ, e.g. 'discord_hq' for MySQL
DBHQ = 



# Discord-Token

# Claralara (Alpha)
CLARAALPHA =
    
# Claralara (Beta)
CLARABETA =

# Claralara
CLARA =

# REMEMBER: DO NOT LEAK THIS FILE WITH REAL DATA IN ANY PUBLIC REPOSITORY!!!
# ERINNERUNG: LEAKEN SIE DIESE DATEI MIT REALEN DATEN IN KEINEM ÖFFENTLICHEN REPOSITORYS!!!